.topbar{
    margin-bottom: 52px;

}
.topbar_content{
    display: flex;
    justify-content: space-between;
}
.brand{
    background-image: url(../../assets/images/logo.svg);
    background-repeat: no-repeat;
}
.topbar_actions{
    display: flex;
    align-items: center;
    gap: 2rem;
}
