.theme-handler{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
    border-left: 1px solid var(--dark-color);
}
.theme-handler_checkbox{
    display: none;
}
.theme-handler_label{
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

/* Dark Theme */
.dark .theme-handler{
    border-left: 1px solid var(--light-color-3);
}