.footer{
    padding-top: 20px;
}
.footer_content{
    border-top: 1px solid var(--light-color-1);
}
.footer_source{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.footer_source-title{
    color:  var(--light-color);
}
.footer_source-link{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--dark-color-3);
}

/* Dark theme */
.dark .footer_source-link{
    color: var(--light-color-3);
}